 /* remove margins on body */
 body {
  margin: 0;
}

::placeholder {
  color: rgb(141, 141, 141);
  opacity: 1;
}

/* Dropdown Button */
.dropbtn {
  position: absolute;
  top:0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color:  rgb(10,53,53);
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
 background-color:  rgba(0, 0, 0, 0.9);;
}

/* The search field */
#myInput {
 box-sizing: border-box;
 background-color: rgba(0,0,0,0.4);
 color: white;
 font-size: 16px;
 padding: 14px 20px 12px 45px;
 border: none;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 1px solid rgb(10,53,53);}

/* The container <div> - needed to position the dropdown content */
.dropdown {
 position: relative;
 display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
 display: none;
 position: absolute;
 top: 55px;
 background-color: rgba(0,0,0,0.5);
 color: white;
 min-width: 230px;
 border: 1px solid rgb(10,53,53);
 overflow-y: scroll;
 max-height: 500px;
 z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
 color: white;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgba(0,0,0,0.8);}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;} 

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {  
  display: 'none';
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 150px;
  height: 150px;
}

#page {
  cursor: none;
}

#planets {
  width: 100%;
  height: auto;
}

area {
  cursor: none;
}


